@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-roboto);
  --font-mono: var(--font-fragment-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1;
    text-box-trim: both;
    text-box-edge: cap alphabetic;
  }
}
